svg(viewBox='0 0 20 20', fill='none')
  g(clip-path='url(#clip0)')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M0.00178571 0V10H0V20H20V10H20.0014V0H0.00178571Z', fill='white')
    path(
      fill-rule='evenodd',
      clip-rule='evenodd',
      d='M0 3.57122H6.42857V2.85693H0V3.57122ZM13.2143 3.57122H16.7857V2.85693H13.2143V3.57122ZM3.21429 7.14265V6.42943L16.7857 6.42836V7.14158L3.21429 7.14265ZM3.21429 15.3569H9.64286V14.6426H3.21429V15.3569ZM13.2143 19.9998H13.9286V13.2141H13.2143V19.9998ZM16.0714 19.9998H16.7857V13.2141H16.0714V19.9998Z',
      fill='black'
    )
  defs
    clipPath#clip0
      rect(width='20', height='20', fill='white')
