svg(viewBox='0 0 20 20', fill='none')
  path(
    fill-rule='evenodd',
    clip-rule='evenodd',
    d='M20 0H0V20H20V0ZM11.7475 10.0446V5H15.5V15H11.7349L8.2519 9.95486V15H4.5V5H8.26399L11.7475 10.0446Z',
    fill='#1EC800'
  )
