a.provider_button.paper_pro_detail_button.naver(href='https://smartstore.naver.com/ridibooks')
  img.providers(src='./images/providers/naver.png', alt='네이버 쇼핑')
  span.link_text
    |
    | 에서 구매

a.provider_button.paper_pro_detail_button._29cm(href='https://www.29cm.co.kr/shop/brand/4034')
  img.providers(src='./images/providers/29cm.png', alt='29CM')
  span.link_text
    |
    | 에서 구매

a.provider_button.paper_pro_detail_button.gmarket(href='http://minishop.gmarket.co.kr/ridibooks')
  img.providers(src='./images/providers/gmarket.png', alt='지마켓')
  span.link_text
    |
    | 에서 구매
