svg.svg_logo_ridi(viewBox='0 0 517.9 210', xmlns='http://www.w3.org/2000/svg')
  path(
    d='M282.1,209.9h60.4c31.1,0,53.9-7.9,67.8-23.5c14-15.7,21.2-43.1,21.2-81.4c0-38.3-7.2-65.7-21.3-81.4c-14-15.6-37-23.5-68.3-23.5h-59.8c-5,0-6.8,1.9-6.8,6.8v196.2C275.3,208.1,277.1,209.9,282.1,209.9z M329.7,160.5v-111v-2.4h2.4h8.3c13.1,0,22.6,4.3,28.2,12.7c5.4,8,8,22.8,8,45.2c0,22.4-2.5,37.2-7.6,45.2c-5.4,8.4-14.8,12.7-27.9,12.7h-8.9h-2.4V160.5z'
  )
  path(
    d='M192.6,209.9h40.8c5,0,6.8-1.8,6.8-6.8V6.9c0-5-1.8-6.8-6.8-6.8h-40.8c-5,0-6.8,1.9-6.8,6.8v196.2C185.7,208.1,187.6,209.9,192.6,209.9z'
  )
  path(
    d='M470.4,209.9h40.8c4.9,0,6.8-1.8,6.8-6.8V6.9c0-5-1.8-6.8-6.8-6.8h-40.8c-5,0-6.8,1.9-6.8,6.8v196.2C463.6,208.1,465.5,209.9,470.4,209.9z'
  )
  path(
    d='M6.4,209.9h40.5c5,0,6.8-1.8,6.8-6.8v-54.9v-2.4h2.4h11.2h1.5l0.7,1.4l27,56.2c2.2,4.5,5.8,6.5,11.1,6.5h41.1c3.5,0,4-1.2,4.2-1.7c0.6-1.5,0.3-3.5-1-5.9l-32.8-62.1l-1.2-2.2l2.3-1.1l1.1-0.5c21.6-10.3,32.6-31.1,32.6-61.7c0-27.6-6.3-47.1-18.8-58c-12.6-11-33.6-16.6-62.2-16.6H6.4c-5,0-6.8,1.8-6.8,6.8v196.2C-0.4,208.1,1.4,209.9,6.4,209.9z M53.6,100.7V48.3v-2.4h2.4h16.2c10,0,16.8,2.1,20.8,6.6c3.9,4.3,5.9,11.6,5.9,22.2c0,10-1.9,17-5.8,21.5c-4,4.6-11,6.9-20.8,6.9H56.1h-2.4V100.7z'
  )
