table#spec_compare_table.spec_table
  thead
    tr
      th.indent_hidden 스펙
      th
        img.paper_pro_image(src='images/paper_pro/compare/spec_paper_pro.jpg', alt='paper pro thumbnail image')
        span.spec_title PAPER PRO
      th
        img.paper_image(src='images/paper_pro/compare/spec_paper.jpg', alt='paper thumbnail image')
        span.spec_title PAPER
  tbody
    tr
      th 디스플레이
      td 7.8인치 Carta E-ink
      td 6인치 Carta E-ink
    tr
      th 해상도
      td 300PPI
      td 300PPI / Lite 212PPI
    tr
      th * 두께
      td 7.69mm
      td 8.10mm
    tr
      th CPU
      td i.MX6 1GHz
      td Rockchip 1GHz
    tr
      th RAM
      td 1GB
      td 512MB
    tr
      th OS
      td 안드로이드 4.4
      td 안드로이드 4.2.2
    tr
      th 화면 조명
      td
        ul
          li 프론트라이트 프로
          li 색 온도 조절, 밝기 조절
      td
        ul
          li 프론트라이트
          li 밝기 조절
    tr
      th 오토 슬립
      td 지원
      td 미지원
    tr
      th * 배터리
      td
        ul
          li 용량: 1,200mAh
          li 대기 시간: 최대 약 30일
          li 사용 시간: 최대 약 14일
      td
        ul
          li 용량: 2,800mAh
          li 대기 시간: 최대 약 10일
          li 사용 시간: 최대 약 8일
    tr
      th * 충전 완료 시간
      td 약 2.5시간
      td 약 5시간
    tr
      th 출시년도
      td 2017년 12월
      td
        | 2015년 10월
        br
        span.sub_info (현재 판매 종료)
p.spec_alert
  span.star *
  | 표시된 스펙은 기기/측정 조건에 따라 다를 수 있습니다.
  br
  |
  | 배터리 사용시간: 1일 1시간 독서, 1분 1페이지 넘김, Wi-Fi off, 프론트라이트 off 기준
  br
  |
  | 충전 완료 시간: 5V 1A 충전기 기준
