table#paper_pro_spec_table.spec_table
  tbody
    tr
      th 정식 명칭
      td 리디북스 페이퍼 프로
    tr
      th 해상도
      td 300PPI (1,404 x 1,872 화소)
    tr
      th 화면 크기
      td 7.8인치 (197.7mm)
    tr
      th 스크린 형태
      td 7.8" Carta E-ink (플랫 스크린)
    tr
      th 페이지 넘김
      td 정전식 터치스크린 + 물리버튼 (좌우 각 2개, 총 4개)
    tr
      th 화면 조명
      td 프론트라이트 프로 (색 온도 조절 가능)
    tr
      th * 무게
      td 250g
    tr
      th * 크기
      td 가로 147.3mm x 세로 199.8mm x 두께 7.69mm
    tr
      th 저장공간
      td 기본 8GB (시스템 용량 제외 약 5.6GB 사용 가능)
    tr
      th 확장 메모리
      td 마이크로 SD 최대 32GB 추가 가능
    tr
      th CPU
      td i.MX6 1GHz
    tr
      th RAM
      td 1GB
    tr
      th OS
      td 안드로이드 4.4
    tr
      th 지원 파일
      td EPUB, TXT, PDF, ZIP
    tr
      th 와이파이
      td 802.11b/g/n, 2.4GHz
    tr
      th * 배터리
      td
        ul
          li 용량: 1,200mAh
          li 대기 시간: 최대 약 30일
          li
            | 사용 시간: 최대 약 14일
            br
            | (1일 1시간 독서, 1분 1페이지 넘김, Wi-Fi off, 프론트라이트 off 기준)
    tr
      th 정상 작동 온도
      td 0~40℃
    tr
      th * 충전 완료 시간
      td 약 2.5시간 (5V 1A 충전기 기준)
    tr
      th 부가 기능
      td
        ul
          li 뷰어 가로모드
          li 오토 슬립 (정품 플립 커버 케이스 사용 시)
          li 퀵 버튼 (터치 잠금 모드 on/off, 다른 기능으로 변경 가능)
          li 페이지 넘김 화면 터치 영역 설정 (좌/우 혹은 상/하)
          li 기본 글꼴 6가지 제공 (사용자 글꼴 추가 가능)
          li 글자 크기, 문단 너비, 줄 간격, 문단 정렬 조절
          li 만화/PDF 이미지 진하기 기능
          li 독서노트 (형광펜, 밑줄, 메모, 책갈피) 기능 및 동기화
          li 팝업으로 주석 보기
          li 책장 편집
          li 사용자 파일 추가 (지원 파일 형식에 한함)
          li 국어, 영어, 영영, 백과사전 (Wi-Fi 연결 시 가능)
          li 기기 및 구매 목록 잠금, 아이디 숨김
p.spec_alert * 표시된 스펙은 기기/측정 조건에 따라 다를 수 있습니다.
