@import "../../common/styles/varsAndMixins.less";

html {
  font-family: 'Noto Sans KR', sans-serif;
}

.shop_header_for_intro_page();
// ========================================================= default color
#page_intro {
  .white_tone {
    color: #212121;
  }
  .dark_tone {
    color: white;
  }
  .section_title {
    color: inherit;
  }
  .article_title {
    color: inherit;
  }
  .article_paragraph {
    color: inherit;
  }
  .annotation {
    color: #666;
  }
  .table_section_title {
    color: #212121;
  }
}

#intro_header {
  height: 900px;
  background: #151515;
  .sub_title {
    color: white;
  }
  .logo_wrapper {
    .svg_logo_paper {
      fill: white;
    }
    .svg_logo_pro {
      fill: #D5A172;
    }
  }
}

#intro_body {
  height: 400px;
}
