extends /common/layout.pug

block page_var
  - var page = 'ridipaper';
  - var suppressFooter = true;

block meta
  title RIDIPAPER - 리디북스 전자책 단말기, 리디페이퍼
  meta(name='theme-color', content='#000000')
  meta(name='description', content='리디북스 전용 전자책 단말기 리디페이퍼. 최고의 전자책 서비스 리디셀렉트와 리디북스를 이용할 수 있는 외출 필수품.')
  meta(property='og:image', content='/images/banner/ridipaper_teaser.jpg')
  meta(property='og:description', content='가볍게, 언제 어디서나. 새로운 전자책 단말기')

block styles
  link(rel='stylesheet', href='/ridipaper/styles/main.less')

block contents
  #page_intro
    .intro_header_wrapper
      .silhouette
        img(src='/ridipaper/silhouette.jpg')
      .intro_header
        h2.phrase 세상이 나의 서재가 된다
        h1
          include /intro/ridipaper_logo.pug
          span.indent_hidden RIDIPAPER
        .date 2019.12.09. 11:00#[span.am AM]
        .date_desc.
          새로운 #[strong RIDIPAPER] 정식 출시
    .intro_body
      section
        h3 출시 기념 퀴즈 이벤트
        p.
          #[strong 2019년 12월 5일] 퀴즈의 정답과 함께#[br]
          RIDIPAPER의 상세 정보가 공개됩니다.
        a.event(href='https://ridibooks.com/event/18330') 이벤트 참여하기
      section
        h3 온라인 구매처
        ul
          li
            include /ridipaper/29cm.pug
            img.name(src='/images/providers/29cm.png', alt='29CM')
          li
            include /ridipaper/naver.pug
            .name 네이버 스마트 스토어
