#shop_footer
  footer.footer_bottom_wrapper
    .footer_wrap
      .corp_info
        h2.hidden 회사 정보
        .info_contact_wrapper
          ul.info_contact.info_contact_row_1
            li.info_contact_element.list_ridibooks
              a.info_contact_link(href='https://ridibooks.com', target='_blank')
                include /intro/ridibooks_logo.pug
                span.indent_hidden 리디북스
            li.info_contact_element.list_support
              a.info_contact_link(href='https://help.ridibooks.com/hc/ko', target='_blank') 고객센터
          ul.info_contact.info_contact_row_2
            li.info_contact_element.contact_tel
              a.info_contact_link.contact_tel_link(href='tel:16440331')
                svg.svg_phone_icon(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                  path(
                    d='M35.2,28.8 C32,32 32,35.2 28.8,35.2 C25.6,35.2 22.4,32 19.2,28.8 C16,25.6 12.8,22.4 12.8,19.2 C12.8,16 16,16 19.2,12.8 C22.4,9.6 12.8,0 9.6,0 C6.4,0 0,9.6 0,9.6 C0,16 6.6,29 12.8,35.2 C19,41.4 32,48 38.4,48 C38.4,48 48,41.6 48,38.4 C48,35.2 38.4,25.6 35.2,28.8 Z'
                  )
                svg.svg_call_center_icon(viewBox='0 0 46 48', xmlns='http://www.w3.org/2000/svg')
                  path(
                    d='M27.7 27.4c-.9 1.3-2.5 2.2-4.2 2.2-1.7 0-3.3-.8-4.3-2.1-.7-.9-2-1.1-2.9-.4-.9.7-1.1 2-.4 2.9 1.7 2.3 4.5 3.9 7.6 3.8 3.1 0 5.9-1.6 7.5-4 .7-.9.4-2.2-.5-2.9-.9-.7-2.1-.5-2.8.5zm2.7-12.6c-1.1 0-2 .9-2 2.1v1.4c0 1.1.9 2 2.1 2 1.1 0 2-.9 2-2.1v-1.4c-.1-1.1-1-2-2.1-2zm-12 3.6V17c0-1.1-.9-2-2.1-2-1.1 0-2 .9-2 2.1v1.4c0 1.1.9 2 2.1 2 1.1-.1 2-1 2-2.1zm23-3.6C39.5 6.3 31.9-.1 22.8 0 13.7.1 6.2 6.6 4.4 15.1c-2.1.5-3.7 2.4-3.6 4.7v6.3c0 2.2 1.6 4.1 3.7 4.6 1.5 7.5 7.5 13.4 15 14.8.7 1.4 2.1 2.4 3.8 2.4 2.3 0 4.1-1.9 4.1-4.2 0-2.3-1.9-4.1-4.1-4.1-1.4 0-2.5.7-3.3 1.7C13.3 40 8.3 34.2 8.2 27.2v-8.1c-.1-8.2 6.5-14.9 14.6-15 8.2-.1 14.9 6.5 15 14.7v9.8c0 1.1 1 2 2.2 2h.5c2.7 0 4.7-2.2 4.7-4.9v-6.3c0-2.2-1.6-4.1-3.8-4.6z'
                  )
                span.hidden 전화번호:
                span.museo_sans 1644-0331
            li.info_contact_element.list_faq
              a.info_contact_link(href='https://help.ridibooks.com/hc/ko/categories/115000967987', target='_blank') 자주 묻는 질문
            li.info_contact_element.contact_one
              a.info_contact_link(href='https://help.ridibooks.com/hc/ko/requests/new?ticket_form_id=605387', target='_blank') 1:1 문의
        ul.info_wrapper
          li.info_list.address 서울시 강남구 역삼동 702-28 어반벤치빌딩 10층(테헤란로 325)
          li.info_list.corp_name 리디 (주)
          li.info_list.ceo_name 대표 배기식
          li.info_list.business_registration_number 사업자등록번호 120-87-27435
          li.info_list.online_sales_registration_number 통신판매업신고 제 2009-서울강남 35-02139호
        ul.info_link
          li.link_list
            a.link.link_prov(target='_blank', href='https://ridibooks.com/legal/terms') 이용약관
          li.link_list
            a.link.link_personal(target='_blank', href='https://ridibooks.com/legal/privacy') 개인정보처리방침
          li.link_list
            a.link.link_business(target='_blank', href='http://ftc.go.kr/info/bizinfo/communicationList.jsp') 사업자 정보 확인
        p.info_copyright © RIDI Corp.
      hr
      .other_menu
        h2.hidden 바로가기
        ul.main_list_wrapper
          li.main_list
            h3 About
            ul.sub_list_wrapper
              li.sub_list
                a(href='//www.ridicorp.com/', target='_blank') 회사 소개
              li.sub_list
                a(href='//www.ridicorp.com/career/', target='_blank') 인재 채용
          li.main_list
            h3 서비스 이용
            ul.sub_list_wrapper
              li.sub_list
                a(href='https://ridibooks.com/support/notice') 공지사항
              li.sub_list
                a(href='https://help.ridibooks.com/hc/ko', target='_blank') 고객센터
          li.main_list
            h3 파트너십
            ul.sub_list_wrapper
              li.sub_list
                a(href='https://ridibooks.com/partners/') 콘텐츠 제공 문의
              li.sub_list
                a(href='mailto:biz@ridi.com') 사업 제휴 문의
              li.sub_list
                a(href='https://help.ridibooks.com/hc/ko/articles/360026484174', target='_blank') 페이퍼 대량구매 안내
          li.main_list
            h3 리디북스 소식
            ul.sub_list_wrapper.list_news
              li.sub_list
                a(href='https://ridibooks.com/account/modify') 뉴스레터
              li.sub_list
                a(href='https://www.facebook.com/ridibooks', target='_blank') 페이스북
              li.sub_list
                a(href='https://instagram.com/ridibookspaper/', target='_blank') 인스타그램
